.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='text'] {
  display: block;
  padding: 0.7rem;
  margin: auto;
  width: 50%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  outline: none;
  background-color: #e6e6e6;
}
